doctype html
html
  head
    meta(charset='utf-8')
    link(rel="stylesheet" href="https://cdn.rawgit.com/Chadtech/design-critique-night/master/app.css")
  body
    div(id="content")
    script(src="https://cdn.rawgit.com/Chadtech/design-critique-night/master/index.js")